<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--log4配置节-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections> 
  <log4net>
    <!--系统错误日志-->
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <File value="Logs/System/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="2MB" />
      <datePattern value="yyyyMMdd/'SystemLog'/yyyyMMddHH/'System.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} || %-5level || %logger || %message || %newline" />
      </layout>
    </appender>    
    <appender name="SystemWebApi" type="log4net.Appender.RollingFileAppender">
      <File value="Logs/Info/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="2MB" />
      <datePattern value="yyyyMMdd/WebApi/yyyyMMddHH/'WebApi.log'" />
      <layout type="log4net.Layout.PatternLayout,log4net">        
        <conversionPattern value="%n*****************************************************************
                                %n【日志级别】%-5level
                                %n【记录时间】%date
                                %n【消息内容】%message%newline "/>
      </layout>
    </appender>
    <!--TCP通讯日志-->
    <appender name="TcpCommunication" type="log4net.Appender.RollingFileAppender">
      <File value="Logs/Info/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="2MB" />
      <datePattern value="yyyyMMdd/TCP通讯日志/yyyyMMddHH/'TCP03.log'" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%n*****************************************************************
                                %n【记录时间】%date ||      
                                %n【日志级别】%-5level ||  
                                %n【Logger】%logger ||
                                %n【消息内容】%message ||end %newline "/>
      </layout>
    </appender>
    <!--WebSocket-->
    <appender name="WebSocket" type="log4net.Appender.RollingFileAppender">
      <File value="Logs/Info/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="2MB" />
      <datePattern value="yyyyMMdd/'WebSocket'/yyyyMMddHH/'WebSocket.log'" />
      <layout type="log4net.Layout.PatternLayout,log4net">        
        <conversionPattern value="%n***************************************************************** %newline【记录时间】%date %newline【消息内容】%message  %newline "/>
      </layout>
    </appender>
	<!--MonitorService-->
	<appender name="Monitor" type="log4net.Appender.RollingFileAppender">
		<File value="Logs/Info/" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false"/>
		<maxSizeRollBackups value="-1" />
		<maximumFileSize value="2MB" />
		<datePattern value="yyyyMMdd/'Monitor'/yyyyMMddHH/'Monitor.log'" />
		<layout type="log4net.Layout.PatternLayout,log4net">
			<conversionPattern value="%n***************************************************************** %newline【记录时间】%date %newline【消息内容】%message  %newline "/>
		</layout>
	</appender>
    <logger name="errorAppender" additivity="true">
      <level value="ALL" />
      <appender-ref ref="errorAppender"/>
    </logger>
    <!--WebSocket通讯日志-->
    <logger name="WebSocket" additivity="true">
      <level value="ALL" />
      <appender-ref ref="WebSocket"/>
    </logger>
    <!--监控服务日志-->
    <logger name="Monitor" additivity="true">
      <level value="ALL" />      
      <appender-ref ref="Monitor"/>
    </logger>   
    <!--WebApi通讯日志-->
    <logger name="SystemWebApi" additivity="true">
      <level value="ALL" />
      <appender-ref ref="SystemWebApi"/>
    </logger>
  </log4net>
</configuration>